@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background: #bad6dc;
}

/*Categories*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #003a7d;
  color: white;
  font-size: 4rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  margin-bottom: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

nav {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #003a7d;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
nav a {
  padding: 0.7rem;
  font-size: 1.2rem;
}

nav a:active,
nav a:visited,
nav a:hover,
nav a:link {
  text-decoration: none;
  list-style-type: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #003a7d;
}

/*Categories*/

.catpage {
  margin-top: 1rem;
}
.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoriesList {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.categ a {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #003a7d;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.categ a:hover,
.categ a:link,
.categ a:visited,
.categ a:active {
  text-decoration: none;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #003a7d; */
  color: #003a7d;
  font-size: 1.7rem;
}
/*Products*/
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}

.mainproduct {
  background-color: white;
  margin: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #003a7d;
  color: white;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

/*ProductList*/
body .productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
  margin: 2rem;
}
img {
  max-width: 100%;
}

.productList {
  grid-column: 1/-1;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #434141;
  font-size: 1.2rem;
  margin: 0;
}

.subcat {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.price {
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  color: #434141;
  font-size: 1.5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.discount {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #434141;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.discprice,
.discount-value {
  margin: 0;
  padding: 0;
}
body article .discount,
body article .price span {
  display: none;
}
body article.onSale .discount {
  display: flex;
  justify-content: space-between;
}
body article.onSale .price span {
  display: initial;
}

.soldOut img {
  opacity: 50%;
}

body article.soldOut img {
  opacity: 0.5;
}
body article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}

a {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #434141;
  margin: 0;
  text-decoration: underline;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #434141;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-page {
  margin-top: 1rem;
  display: block;
  max-width: 100%;
  height: auto;
  grid-area: pp;
}

.purchase {
  margin-top: 2rem;
  grid-area: p;
}

.product-info {
  grid-column-start: 2;
  grid-column-end: 3;
}

.purchase button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.price-product {
  display: flex;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  color: #434141;
  font-size: 2rem;
  margin: 0;
}

label,
label select {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #434141;
  font-size: 1rem;
  margin: 0;
}

button {
  color: #434141;
  background: #bad6dc;
  padding: 0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5%;
  max-height: 10rem;
  max-width: 20rem;
  margin-bottom: 2rem;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #434141;
  font-size: 1.4rem;
  margin: 0;
}

.subtitle,
.id {
  font-family: "Poppins", sans-serif;
  color: #434141;
  font-size: 1rem;
  margin: 0;
}

.productBox {
  display: grid;
  grid-template-areas: ". pp p .";
  grid-column: 1fr 2fr 2fr 1fr;
}

.discount p {
  font-size: 1.7rem;
  color: red;
  padding: 0.2rem;
  margin: 0;
}

.cross {
  text-decoration-line: line-through;
  font-size: 1.2rem;
}

.hide {
  display: none;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    -webkit-text-stroke-width: 1.5px;
    margin-top: 1rem;
  }

  .productList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.categoriesList {
  display: flex;
  justify-content: center;
}
.type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.type img {
  max-width: 60%;
  align-self: center;
}

.categ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  border: solid 4px #003a7d;
  background-color: white;
}

@media screen and (min-width: 1000px) {
  .product .productList {
    grid-template-columns: 1fr 310px;
  }
}
@media screen and (max-width: 870px) {
  .product-info {
    grid-area: info;
  }
  .productBox {
    display: grid;
    grid-template-areas:
      "pp"
      "p"
      "info";
  }
}

@media screen and (max-width: 500px) {
  .categoriesList {
    display: flex;
    flex-direction: column;
  }
  .type img {
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .product .productList {
    grid-template-columns: 1fr 310px;
  }
  .categ a {
    font-size: 0.5rem;
  }
}
